.errorPagediv{
    margin: 250px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ErrorImageclass{
 height: 500px;
 width: 500px;
}
.indexbutton{
background-color: red;
height: 50px;
width: 150px;
}